/* Colors */
:root {
    --col_text: #fff;
    --col_light_blue: #31a0d9;
    --col_dark: #333333;
    --col_light: #b5b39e;
    --col_background: #006491;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 80%;
    background-color: var(--col_background);
}

a:active, a:link, a:visited {
    text-decoration: none;
    color: var(--col_text);
}

/* Menu */
.menu {
    background-color: var(--col_background);
    padding: 5px;
    width: 200px;
}

.menu > * {
    padding: 5px;
    line-height: 40px;
    color: #fff;
    text-transform: capitalize;
}

.menu .header {
    display: block;
    border-bottom: 1px solid var(--col_dark);
}

.menu .entry {
    display: block;
    border-bottom: 1px solid var(--col_light);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

.menu .entry:hover {
    color: var(--col_light_blue);
    border-bottom: 1px solid var(--col_dark);
}

.menu .entry img {
    width: 32px;
    height: 32px;
    vertical-align: middle;
}

.menu .entry:last-child {
    border-bottom: none;
}

.menu .back {
    border-top: 1px solid var(--col_light_blue);
}

/* Misc */
.visible {
    display: inherit;
}

.hidden {
    display: none !important;
}

/* Spinner */
.spinner {
    width: 32px;
    height: 32px;
    border: 16px solid var(--col_background);
    border-top: 16px solid var(--col_light_blue);
    border-radius: 50%;
    margin: 0px auto;
}

.spin {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    from { transform: rotate(0deg) }
    to { transform: rotate(360deg) }
}